@import url(./index.css);

.main-content {
  font-family: 'Caveat';
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}