@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100;1,100&family=Caveat&family=Montserrat:wght@300&display=swap');

body {
  margin: 30px;
  font-family: 'Advent Pro', sans-serif;
  font-family: 'Caveat', cursive;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(218, 179, 255);
}